@media (min-width:320px) {
    main h2 {
        font-size: 2.5rem;
    }
    main h3 {
        font-size: 2.5rem;
    }

    p {
        margin: 1rem 0 2rem;
        color: white;
        text-align: justify;
        font-size: 3rem;
        word-spacing: 0.2rem;
        line-height: 1.5;
    }

    nav button {
        font-family: inherit;
        background: none;
        color: #fff;
        padding: 1.7rem 0.5rem;
        font-size: 3rem;
        cursor: pointer;
        margin-right: 1.5rem;
        transition: background linear 0.2s;
    }

    #navbarcontato {
        min-width: 80%;
        width: 100%;
        background: black;
        padding: 1.5rem 2.5rem;
        position: sticky;
        display: flex;
        justify-content: flex-end;
        transition: top 0.5s;
    }
}

@media (min-width: 700px) {

    main h2 {
        font-size: 3rem;
    }
    main h3 {
        font-size: 3rem;
    }

    p {
        margin: 1rem 0 2rem;
        color: white;
        text-align: justify;
        font-size: 2.2rem;
        word-spacing: 0.2rem;
        line-height: 1.5;
    }

    nav button {
        font-family: inherit;
        background: none;
        color: #fff;
        padding: 1.7rem 0.5rem;
        font-size: 3rem;
        cursor: pointer;
        margin-right: 1.5rem;
        transition: background linear 0.2s;
    }

    #navbarcontato {
        min-width: 80%;
        width: 100%;
        background: black;
        padding: 2rem 3rem;
        position: sticky;
        display: flex;
        justify-content: flex-end;
        transition: top 0.5s;
    }
}

@media (min-width:768px) {
    main h2 {
        font-size: 3.2rem;
    }
    main h3 {
        font-size: 3.2rem;
    }

    p {
        margin: 1rem 0 2rem;
        color: white;
        text-align: justify;
        font-size: 3rem;
        word-spacing: 0.2rem;
        line-height: 1.5;
    }
    nav button {
        font-family: inherit;
        background: none;
        color: #fff;
        padding: 1.7rem 0.5rem;
        font-size: 2.5rem;
        cursor: pointer;
        margin-right: 1.5rem;
        transition: background linear 0.2s;
    }

    #navbarcontato {
        min-width: 80%;
        width: 100%;
        background: black;
        padding: 2.5rem 3.5rem;
        position: sticky;
        display: flex;
        justify-content: flex-end;
        transition: top 0.5s;
    }
}


@media (min-width: 1920px) {

    main h2 {
        font-size: 3rem;
    }
    main h3 {
        font-size: 2rem;
    }

    p {
        margin: 1rem 0 2rem;
        color: white;
        text-align: justify;
        font-size: 2.2rem;
        word-spacing: 0.2rem;
        line-height: 1.5;
    }

    nav button {
        font-family: inherit;
        background: none;
        color: #fff;
        padding: 1.7rem 0.5rem;
        font-size: 2rem;
        cursor: pointer;
        margin-right: 1.5rem;
        transition: background linear 0.2s;
    }

    #navbarcontato {
        min-width: 80%;
        width: 100%;
        background: black;
        padding: 1rem 2rem;
        position: sticky;
        display: flex;
        justify-content: flex-end;
        transition: top 0.5s;
    }
}